---
layout: default
---

<angular-tabs active-tab="Implicit">
  <div title="Implicit">
    <h2>Random lorem <small>implicit cells, fixed widths, custom title</small></h2>

    {% include implicit.html %}

    <h3>HTML</h3>

    <div ng-non-bindable>
    {% highlight html %}
{% include implicit.html %}
    {% endhighlight %}
    </div>
  </div>

  <div title="SortingPaging">
    <h2>Lots of random lorem <small>sorting, paging, custom cells</small></h2>

    {% include sorting_paging.html %}

    <h3>HTML</h3>

    <div ng-non-bindable>
    {% highlight html %}
{% include sorting_paging.html %}
    {% endhighlight %}
    </div>
  </div>

  <div title="Custom">
    <h2>Lorem vowels <small>custom header, custom cells</small></h2>

    {% include custom.html %}

    <h3>HTML</h3>

    <div ng-non-bindable>
    {% highlight html %}
{% include custom.html %}
    {% endhighlight %}
    </div>
  </div>

  <div title="Filtering">
    <h2>Filtering <small>filtering</small></h2>

    {% include filtering.html %}

    <h3>In the controller</h3>

    {% highlight javascript%}
$scope.filteredList = $scope.longLoremList

$scope.queryChanged = function(query) {
  $scope.filteredList = $filter("filter")($scope.longLoremList, query);
};
    {% endhighlight %}

    <h3>HTML</h3>

    <div ng-non-bindable>
    {% highlight html %}
{% include filtering.html %}
    {% endhighlight %}
    </div>

  </div>

  <div title="Styling">
    <h2>Styling <small>use your own css</small></h2>

    {% include styling.html %}

    <h3>Css</h3>
    {% highlight css %}
.custom-table-style {
  width: 100%;
}

.custom-table-style td, .custom-table-style th {
  color: white;
  background-color: black;

  border: solid;
  border-color: red;

  text-align: center;
}
    {% endhighlight %}

    <h3>HTML</h3>

    <div ng-non-bindable>
    {% highlight html %}
{% include styling.html %}
    {% endhighlight %}
    </div>

  </div>
</angular-tabs>