---
layout: default
---

<angular-tabs active-tab="Implicit">
  <div title="Implicit">
    <div class="row-fluid">
      <div class="span12">
        <h2>implicit cells, fixed widths, custom title</h2>
      </div>
    </div>
    <div class="row-fluid"><div class="span12"></div></div>
    <div class="row-fluid">
      <div class="span5">
        {% include implicit.html %}
      </div>
      <div class="span7">
        <div ng-non-bindable>
{% highlight html %}
{% include implicit.html %}
{% endhighlight %}
        </div>
      </div>
    </div>
  </div>

  <div title="Sorting / Pagination">
    <div class="row-fluid">
      <div class="span12">
        <h2>sorting, pagination, custom cells</h2>
      </div>
    </div>
    <div class="row-fluid"><div class="span12"></div></div>
    <div class="row-fluid">
      <div class="span5">
        {% include sorting_paging.html %}
      </div>
      <div class="span7">
        <div ng-non-bindable>
{% highlight html %}
{% include sorting_paging.html %}
{% endhighlight %}
        </div>
      </div>
    </div>
  </div>

  <div title="Custom">
    <div class="row-fluid">
      <div class="span12">
        <h2>custom header, custom cells</h2>
      </div>
    </div>
    <div class="row-fluid"><div class="span12"></div></div>
    <div class="row-fluid">
      <div class="span5">
        {% include custom.html %}
      </div>
      <div class="span7">
        <div ng-non-bindable>
{% highlight html %}
{% include custom.html %}
{% endhighlight %}
        </div>
      </div>
    </div>
  </div>

  <div title="Filtering">
    <div class="row-fluid">
      <div class="span12">
        <h2>filtering</h2>
      </div>
    </div>
    <div class="row-fluid"><div class="span12"></div></div>
    <div class="row-fluid">
      <div class="span5">
        {% include filtering.html %}
      </div>
      <div class="span7">
{% highlight javascript%}
$scope.filteredList = $scope.longLoremList

$scope.queryChanged = function(query) {
  $scope.filteredList = $filter("filter")($scope.longLoremList, query);
};
{% endhighlight %}


        <div ng-non-bindable>
{% highlight html %}
{% include filtering.html %}
{% endhighlight %}
        </div>
      </div>
    </div>

  </div>

  <div title="Styling">
    <div class="row-fluid">
      <div class="span12">
        <h2>use your own css</h2>
      </div>
    </div>
    <div class="row-fluid"><div class="span12"></div></div>
    <div class="row-fluid">
      <div class="span5">
        {% include styling.html %}
      </div>
      <div class="span7">
{% highlight css %}
.custom-table-style {
  width: 100%;
}

.custom-table-style td, .custom-table-style th {
  color: white;
  background-color: black;

  border: solid;
  border-color: red;

  text-align: center;
}
{% endhighlight %}

        <div ng-non-bindable>
{% highlight html %}
{% include styling.html %}
{% endhighlight %}
        </div>
      </div>
    </div>
  </div>
</angular-tabs>