---
layout: default
title: Something with codes
---

<angular-tabs active-tab="Custom">
  <div title="Implicit">

    <h2>Random lorem <small>implicit cells, fixed widths, custom title</small></h2>

    {% include implicit.html %}

    <h3>HTML</h3>

    {% highlight html %}
{% include implicit.html %}
    {% endhighlight %}



  </div>

  <div title="SortingPaging">

    <h2>Alotta random lorem <small>sorting, paging, custom cells</small></h2>

    {% include sorting_paging.html %}

    <h3>HTML</h3>

    {% highlight html %}
{% include sorting_paging.html %}
    {% endhighlight %}





  </div>

  <div title="Custom">
    <h2>Ex girlfriends <small>custom header, custom cells</small></h2>

    {% include custom.html %}

    <h3>HTML</h3>

    {% highlight html %}
{% include custom.html %}
    {% endhighlight %}


  </div>
</angular-tabs>