{% raw %}
<table at-table class="table table-striped table-bordered" pagination="vowelPagination">
  <thead>
    <th attribute="vowels"><i class="icon-star"></i>Contained vowels<i class="icon-star"></i></th>
  </thead>
  <tbody>
    <tr>
      <td at-implicit sortable class="100px" attribute="description"></td>
      <td title="Vowels" attribute="vowels">
        <span ng-repeat="vowel in vowelsList(item.description)" class="badge" ng-class="vowelClass(vowel)">
          {{vowel}}
        </span>
      </td>
    </tr>
  </tbody>
</table>

<at-pagination items-per-page="5" instance="vowelPagination" list="longLoremList"></at-pagination>
{% endraw %}