{% raw %}
<table at-table class="table table-striped table-bordered" pagination="wildPagination" fill-last-page>
  <thead></thead>
  <tbody>
    <tr>
      <td at-implicit sortable initial-sorting="asc" class="50px" attribute="id"></td>
      <td at-implicit sortable class="350px" attribute="description"></td>
      <td sortable title="length" attribute="lengthOfDescription">
        The length of the word '{{item.description}}' is {{item.description.length}}
      </td>
    </tr>
  </tbody>
</table>

<at-pagination items-per-page="7" instance="wildPagination" list="longLoremList"></at-pagination>
{% endraw %}