{% raw %}
<table at-table class="table table-striped table-bordered" list="longLoremList" pager="pager">
  <thead></thead>
  <tbody>
    <tr>
      <td at-implicit sortable class="50px" attribute="id"></td>
      <td at-implicit sortable class="350px" attribute="description"></td>
      <td sortable title="length">
        The length of the word '{{item.description}}' is {{item.description.length}}</span>
      </td>
    </tr>
  </tbody>
</table>

<at-pager items-per-page="5" instance="pager" list="longLoremList"></at-pager>
{% endraw %}