<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>angular-table - easily delcare sortable, pageable and searchable html tables</title>
    <meta name="viewport" content="width=device-width">

    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://code.angularjs.org/1.1.5/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-table.min.js"></script>
    <script type="text/javascript" src="js/angular-tabs.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/syntax.css">

    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">

    <style>
      .main-container {
        margin: 30px;
        /*margin: auto;*/
        /*margin-top: 60px;*/
        /*margin: 20px 0px 20px 0px;*/
      }

      .redBg {
        background-color: red;
      }

      .custom-table-style {
        width: 100%;
      }

      .custom-table-style td, .custom-table-style th {
        color: white;
        background-color: black;

        border: solid;
        border-color: red;

        text-align: center;
      }


    </style>

    <script type="text/javascript">

      (function() {
        angular.module("angular-table-example", ["angular-table", "angular-tabs"]);

        angular.module("angular-table-example").controller("example-ctrl", ["$scope", "$filter", function($scope, $filter) {
            var generateData, loremArray, nameArray, randomArray, randomWord;

            loremArray = ["Lorem", "ipsum", "dolor", "sit", "amet", "consectetur", "adipisicing", "elit", "sed", "do", "eiusmod", "tempor", "incididunt", "ut", "labore", "et", "dolore", "magna", "aliqua", "Ut", "enim", "ad", "minim", "veniam", "quis", "nostrud", "exercitation", "ullamco", "laboris", "nisi", "ut", "aliquip", "ex", "ea", "commodo", "consequat", "Duis", "aute", "irure", "dolor", "in", "reprehenderit", "in", "voluptate", "velit", "esse", "cillum", "dolore", "eu", "fugiat", "nulla", "pariatur", "Excepteur", "sint", "occaecat", "cupidatat", "non", "proident", "sunt", "in", "culpa", "qui", "officia", "deserunt", "mollit", "anim", "id", "est", "laborum"];


            randomWord = function(src) {
              return src[Math.floor(Math.random() * (src.length))];
            };

            randomArray = function(src, maxLength) {
              var length = Math.floor(Math.random() * maxLength);
              var results = [];
              for (var i = 0; i <= length; i++) {
                var word = randomWord(src);
                results.push({
                  idx: i,
                  word: word
                });
              }
              return results;
            };

            randomList = function(src, length) {
              var results = [];
              for (var i = 0; i < length; i++) {
                entry = {
                  id: i,
                  description: randomWord(src),
                  // name: randomWord(src),
                  // strings: randomArray(src, 5)
                };
                entry.lengthOfDescription = entry.description.length;
                // entry.numberOfStrings = entry.strings.length;
                results.push(entry);
              }
              return results;
            };

            $scope.shortLoremList = randomList(loremArray, 5);

            $scope.longLoremList = randomList(loremArray, 50);

            $scope.filteredList = $scope.longLoremList

            $scope.queryChanged = function(query) {
              $scope.filteredList = $filter("filter")($scope.longLoremList, query);
            };

            var vowels = ["a", "e", "i", "o", "u"];
            $scope.vowelsList = function(word) {
              list = [];
              for(var i = 0; i < vowels.length; i++) {
                if (word.indexOf(vowels[i]) > -1) {
                  list.push(vowels[i]);
                }
              }
              return list;
            };

            var vowelClasses = ["badge-success", "badge-warning", "badge-important", "badge-info", "badge-inverse"];
            $scope.vowelClass = function(vowel) {
              return vowelClasses[vowels.indexOf(vowel)];
            };
          }
        ]);

      }).call(this);

    </script>

  </head>
    <body>
      <div class="main-container" ng-app="angular-table-example" ng-controller="example-ctrl">
        {{ content }}
      </div>
    </body>
</html>
