<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://code.angularjs.org/1.1.5/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-table.min.js"></script>
    <script type="text/javascript" src="js/angular-tabs.min.js"></script>

    <link rel="stylesheet" type="text/css" href="css/syntax.css">

    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">

    <style>
      .main-container {
        margin: 20px 300px 20px 300px;
      }

      .redBg {
        background-color: red;
      }
    </style>

    <script type="text/javascript">

      (function() {
        angular.module("angular-table-example", ["angular-table", "angular-tabs"]);

        angular.module("angular-table-example").controller("example-ctrl", ["$scope", "$filter", function($scope, $filter) {
            var generateData, loremArray, nameArray, randomArray, randomWord;

            loremArray = ["Lorem", "ipsum", "dolor", "sit", "amet", "consectetur", "adipisicing", "elit", "sed", "do", "eiusmod", "tempor", "incididunt", "ut", "labore", "et", "dolore", "magna", "aliqua", "Ut", "enim", "ad", "minim", "veniam", "quis", "nostrud", "exercitation", "ullamco", "laboris", "nisi", "ut", "aliquip", "ex", "ea", "commodo", "consequat", "Duis", "aute", "irure", "dolor", "in", "reprehenderit", "in", "voluptate", "velit", "esse", "cillum", "dolore", "eu", "fugiat", "nulla", "pariatur", "Excepteur", "sint", "occaecat", "cupidatat", "non", "proident", "sunt", "in", "culpa", "qui", "officia", "deserunt", "mollit", "anim", "id", "est", "laborum"];


            exGfsArray = ["Anna", "Lea", "Maria", "Sarah", "Laura", "Rahel", "Laila"];
            description = ["Nope", "A bit", "Yes", "Very"];


            generateExGfList = function(src, length) {
              var results = [];
              for (var i = 0; i < length; i++) {
                results.push({
                  id: i,
                  name: randomWord(exGfsArray),
                  hotness: randomWord(description),
                  crazyness: randomWord(description)
                });
              }
              return results;
            };

            $scope.getDescriptionClass = function(description) {
              if (description == "Nope") return "badge"
              if (description == "A bit") return "badge badge-info"
              if (description == "Yes") return "badge badge-warning"
              if (description == "Very") return "badge badge-important"
            }



            $scope.isGoodCombination = function(hotness, crazyness) {
              if ((hotness == "Very" || hotness == "Yes") && (crazyness == "Nope" || crazyness == "A bit")) return "You should get her back"
              if ((crazyness == "Very" || crazyness == "Yes") && (hotness == "Nope" || hotness == "A bit")) return "Never mind"
              return "Okay..."
            }

            randomWord = function(src) {
              return src[Math.floor(Math.random() * (src.length))];
            };

            randomArray = function(src, maxLength) {
              var length = Math.floor(Math.random() * maxLength);
              var results = [];
              for (var i = 0; i <= length; i++) {
                var word = randomWord(src);
                results.push({
                  idx: i,
                  word: word,
                  length: word.length
                });
              }
              return results;
            };

            generateData = function(src, length) {
              var results = [];
              for (var i = 0; i < length; i++) {
                results.push({
                  id: i,
                  description: randomWord(src),
                  name: randomWord(src),
                  strings: randomArray(src, 5)
                });
              }
              return results;
            };

            $scope.scope = $scope;

            $scope.shortLoremList = generateData(loremArray, 5);

            $scope.longLoremList = generateData(loremArray, 50);

            $scope.exGfsList = generateExGfList(exGfsArray, 15);

            console.log($scope.exGfsList)

            $scope.filteredList = $scope.list;

            $scope.ctrl = $scope

            $scope.queryChanged = function() {
              return $scope.filteredList = $filter("filter")($scope.list, $scope.query);
            };

            $scope.wordClass = function(word) {
              return ["badge-success", "badge-warning", "badge-important", "badge-info", "badge-inverse"][word.length - 2] || "default";
            };

            return $scope.sayHi = function(item) {
              console.log("hello " + item.name);
            };
          }
        ]);

      }).call(this);

    </script>

  </head>
    <body>
      <div class="main-container" ng-app="angular-table-example" ng-controller="example-ctrl">
        {{ content }}
      </div>
    </body>
</html>
